.title {
  color: var(--color-White);
  font-size: var(--font-size48px);
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  border-bottom: 3px solid rgba(131, 131, 163, 1);
}

.descr {
  font-size: var(--font-size12px);
  font-family: var(--font-familyInter);
  font-weight: var(--font-weigth400);
  line-height: var(--line-heigth29px);
  text-align: center;
  color: var(--color-White);
}

.author {
  font-size: var(--font-size12px);
  font-family: var(--font-familyInter);
  font-weight: var(--font-weigth400);
  line-height: var(--line-heigth29px);
  text-align: center;
  color: var(--color-White);
}

.rating {
  font-size: var(--font-size12px);
  font-family: var(--font-familyInter);
  font-weight: var(--font-weigth400);
  line-height: var(--line-heigth29px);
  text-align: center;
  color: var(--color-White);
}

.id {
  font-size: var(--font-size12px);
  font-family: var(--font-familyInter);
  font-weight: var(--font-weigth400);
  line-height: var(--line-heigth29px);
  text-align: center;
  color: var(--color-White);
}


.question {
  background-color: var(--color-White);
  width: 100%;
  max-width: 100%;
}