.logo {
  font-family: var(--font-familyInter);
  font-size: var(--font-size60px);
  font-weight: var(--font-weight500);
  line-height: var(--line-heigth43px);
  text-align: center;
  color: var(--color-White);

  height: 60%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  min-height: 80px;
}

.logoImg {
  height: 100%;
}