.logo {
  font-family: var(--font-familyInter);
  font-size: var(--font-size60px);
  font-weight: var(--font-weight500);
  line-height: var(--line-heigth43px);
  text-align: center;
  color: var(--color-White);
}